<template>
  <div>
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            EVEdustry
          </h1>
          <h2 class="subtitle">
            Your all-in-one industry platform
          </h2>
          <button class="button">Sign Up</button>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-desktop">
          <div class="column is-one">
            <TripleBox title="Job Tracker" body="Track your jobs simply and elegantly, go faster and make more!" icon="fa-clipboard" />
          </div>
          <div class="column">
            <TripleBox title="Warehouse" body="Log all your items and keep track of expenses, find out what you need to buy and more with the Warehouse." icon="fa-warehouse" />
          </div>
          <div class="column">
            <TripleBox title="Automated" body="AAAP: As Automated As Possible, time your spending punching in values to spreadsheets is time your not making money, maximise on your profits and let EVEdustry handle it for you." icon="fa-cogs" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Navbar from '../components/Navbar.vue'
import TripleBox from '../components/TripleBox'

export default Vue.extend({
  components: {
    Navbar,
    TripleBox
  }
})
</script>

<style scoped>
  .title {
    font-size: 72px
  }
</style>
