<template>
  <div>
    <Navbar />
    <nuxt />
    <script src="https://kit.fontawesome.com/d9f424abec.js" crossorigin="anonymous"></script>
  </div>
</template>

<script lang="ts">
import Navbar from '../components/Navbar'

export default {
  components: {
    Navbar
  }
}
</script>

<style>
</style>
