<template>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <nuxt-link to="/" class="navbar-item">
          Home
        </nuxt-link>

        <a class="navbar-item">
          Panel
        </a>

        <a class="navbar-item">
          Report An Issue
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item">
          <strong>Sign Up</strong>
        </a>
        <a class="navbar-item">
          Log In
        </a>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
