<template>
  <div class="notification is-primary has-text-centered">
    <br />
    <span class="icon">
      <i :class="icon" class="fas fa-4x" />
    </span>
    <br />
    <br />
    <span class="title">{{title}}</span>
    <br />
    {{body}}
  </div>
</template>

<script lang="ts">
  export default {
    name: "TripleBox",
    props: {
      title: String,
      body: String,
      icon: String
    }
  }
</script>

<style scoped>

</style>
